@import "tailwindcss";

@layer base {
    body {
        @apply bg-stone-950 text-stone-100 antialiased;
        background-image:
            radial-gradient(circle at 15% 50%, rgba(14, 165, 233, 0.08), transparent 25%),
            radial-gradient(circle at 85% 30%, rgba(168, 85, 247, 0.08), transparent 25%);
        background-attachment: fixed;
    }
}

@layer utilities {
    .glass-panel {
        @apply bg-stone-900/40 backdrop-blur-md border border-white/5;
    }
}